<div class="container-inner-footer">
    <!-- Social Icons -->
    <div class="container-inner-footer-socials">
        {% if site.socials.email %}
        <a href="{{ site.socials.email | prepend: 'mailto:' }}" title="Contact me via. Email" target="_blank">
            <i class="far fa-envelope"></i>
        </a>
        {% endif %}
        {% if site.socials.github %}
        <a href="{{ site.socials.github | prepend: 'https://github.com/' }}" title="Github Profile" target="_blank">
            <i class="fab fa-github-alt"></i>
        </a>
        {% endif %}
        {% if site.socials.bitbucket %}
        <a href="{{ site.socials.bitbucket | prepend: 'https://bitbucket.com/' }}" title="Bitbucket Profile"
            target="_blank">
            <i class="fab fa-bitbucket"></i>
        </a>
        {% endif %}
        {% if site.socials.gitlab %}
        <a href="{{ site.socials.gitlab | prepend: 'https://gitlab.com/' }}" title="Gitlab Profile" target="_blank">
            <i class="fab fa-gitlab"></i>
        </a>
        {% endif %}
        {% if site.socials.twitter %}
        <a href="{{ site.socials.twitter | prepend: 'https://twitter.com/' }}" title="Twitter" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
        {% if site.socials.linkedin %}
        <a href="{{ site.socials.linkedin | prepend: 'https://linkedin.com/' }}" title="LinkedIn Profile"
            target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %}
        {% if site.socials.uptime %}
        <a href="{{ site.socials.uptime }}" title="Uptime status" target="_blank">
            <i class="fas fa-chart-area"></i>
        </a>
        {% endif %}
    </div>
    <!-- Copyright Information -->
    <div class="container-inner-footer-copyright">
        Copyright &copy; 2019+,
        <a href="#" title="Copyright &copy; 2019, Prashant Shrestha">
            Prashant Shrestha
        </a>
    </div>
</div>