<div class="container-inner-header">
    <!-- Navigation menu -->
    <div class="container-inner-header-navigation">
        <!-- Regular navigation menu -->
        <div class="container-inner-header-navigation-links">
            <a href="/" title="">Home</a>
            <a href="/blog" title="">Blog</a>
            <a href="/projects" title="">Projects</a>
            <a href="/library" title="">Library</a>
            <a href="/about" title="">About</a>
        </div>
        <!-- Navigation Menu handler for smaller screen devices -->
        <div class="container-inner-header-navigation-menu">
            <a href="#" class="nav-trigger-expand">
                <i class="far fa-compass"></i>
            </a>
            <!-- Full screen responsive nav. menu -->
            <div class="container-inner-header-navigation-menu-full">
                <div class="container-inner-header-navigation-menu-full-buttons">
                    <a href="#" class="nav-trigger-close"><i class="far fa-window-close"></i></a>
                </div>
                <div class="container-inner-header-navigation-menu-full-menu">
                    <a href="/" title="">Home</a>
                    <a href="/blog" title="">Blog</a>
                    <a href="/projects" title="">Projects</a>
                    <a href="/library" title="">Library</a>
                    <a href="/about" title="">About</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Theme Toggling (Dark & Light mode) -->
    <div class="container-inner-header-adjust">
        <a href="#" title="Toggle Light & Dark Theme"><i class="fas fa-adjust"></i></a>
    </div>
</div>