<div class="container-inner-header">
    <!-- <a href="/" title="Return Home." class="container-inner-header-logo">
        Prashant Shrestha
    </a> -->
    <div class="container-inner-header-navigation">
        <a href="/" title="">Home</a>
        <a href="/archive" title="">Archive</a>
        <a href="#" title="">Projects</a>
        <a href="/library" title="">Library</a>
        <a href="/about" title="">About</a>
    </div>
    <div class="container-inner-header-adjust">
        <a href="#" title="Toggle Light & Dark Theme"><i class="fas fa-adjust"></i></a>
    </div>
</div>