<script type="text/javascript">
    $(document).ready(function () {
        /* Hi
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
		console.log(`%c         _nnnn_                      
        dGGGGMMb     ,"""""""""""""".
       @p~qp~~qMb    | Linux Rules! |
       M|@||@) M|   _;..............'
       @,----.JM| -'
      JS^\__/  qKL
     dZP        qKRb
    dZP          qKKb
   fZP            SMMb
   HZM            MMMM
   FqM            MMMM
 __| ".        |\dS"qML
 |    \`.       | \`' \Zq
_)      \.___.,|     .'
\____   )MMMMMM|   .'
     \`-'       \`--' \n- Art by hjm (https://www.asciiart.eu/computers/linux)\n- Prashant Says hello ;)`, "font-family:monospace");

        /* Special thanks to..
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        const ThanksTo = ['Lightcase', 'FontAwesome', 'Github', 'Netlify', 'Google Web Fonts', 'Updown'];

        console.log(`♥ Special thanks to ${ThanksTo.join(', ')}. ♥`);

        /* Image Lightbox Initialization
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
		$('a[data-rel^=lightcase]').lightcase({
			'maxWidth': '100%'
        });
        

    });
</script>