<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>
    <!-- Top anchor -->
    <div id="top"></div>

    <div class="main-wrapper" aria-label="Content">
        {{ content }}
    </div>
    
    <!-- Scroll to TOP!
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <a class="toTop" href="#top" title="Scroll to Top!">
        <i class="fas fa-chevron-up"></i>
    </a>

    <!-- Include all scripts. -->
    {% include scripts.html %}
</body>

</html>