<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
    <div class="main-wrapper" aria-label="Content">
        {% include sidebar.html %} 
        {{ content }}

        <!-- Scroll to TOP!
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <a class="toTop" href="#top" title="Scroll to Top!">
            <span class="icon-arrow-shuffle"></span>
        </a>
        <a class="pinned-down" href="#" title="Toggle Theme">
            <span class="icon-lamp1 themeToggleButton"></span>
        </a>
    </div>
</body>
</html>