---
layout: default
---

{{ content }}

<div class="container">
    <div class="container-inner">
        <div class="container-inner-header">
            <!-- <div class="container-inner-header-logo">
                Prashant Shrestha
            </div> -->
            <div class="container-inner-header-navigation">
                <a href="#" title="">Blog</a>
                <a href="#" title="">Portfolio</a>
                <a href="#" title="">Library</a>
                <a href="#" title="">About</a>
            </div>
            <div class="container-inner-header-language">
                Language
            </div>
        </div>
        <div class="container-inner-body">
            <div class="container-inner-body-logo">
                Prashant M. Shrestha
            </div>
        </div>
        <div class="container-inner-footer">
            <div class="container-inner-footer-socials">
                <a href="#" title="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" title="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#" title="#">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="#" title="#">
                    <i class="fab fa-bitbucket"></i>
                </a>
                <a href="#" title="#">
                    <i class="fab fa-gitlab"></i>
                </a>
                <a href="#" title="#">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>