---
layout: default
---

<div class="container">
    <div class="container-inner">
        <!-- Header -->
        {% include header.html %}

        <div class="container-inner-body" style="justify-content: center; align-content: center; align-items: center;">
            <header class="container-inner-body-post-header">
                <!-- <div class="post-background-poster" style="{% if page.poster %} background-image: url({{
                        page.poster
                    }}) {% endif %}"></div> -->
                <div class="post-background-header">
                    <!-- Post Title -->
                    <h1 class="post-title" itemprop="name headline">
                        <i class="far fa-file-alt"></i> <span>{{ page.title | escape }}</span>
                    </h1>
                    <!-- Categories and Tags -->
                    <div class="post-misc-meta">
                        <!-- Tags -->
                        {% assign tags = page.tags %} {% if tags != "" %}
                        <div class="post-misc-meta-tags">
                            {% for tag in tags %}<span><i class="fas fa-tag"></i> {{ tag | strip }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- Categories 
                        {% assign categories = page.categories %} {% if categories != ""
                        %}
                        <div class="post-misc-meta-categories">
                            {% for category in categories %}
                            <span><i class="fas fa-archive"></i>
                                {{ category | strip }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}-->
                    </div>
                    <!-- Post Date -->
                    <p class="post-meta">
                        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}"
                            itemprop="datePublished">
                            {%- assign date_format = site.minima.date_format | default:
                            "%b %-d, %Y" -%} {{ page.date | date: date_format }}
                        </time>
                    </p>
                </div>
            </header>
            <article class="container-inner-body-post {% if page.poster %} container-post-with-header {% endif %}">
                <div class="post-content" itemprop="articleBody">{{ content }}</div>

                {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%}
                {%- endif -%}

                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </article>
            <hr>
            <!-- Next and Previous posts. -->
            <section class="container-inner-body-post-navigation">
                <!-- Previous Post -->
                {% if page.previous.url %}
                <a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><i
                        class="fas fa-angle-double-left"></i> Previous Post</a>
                {% endif %}
                <!-- Next Post -->
                {% if page.next.url %}
                <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next Post <i
                        class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </section>
        </div>

        <!-- Footer -->
        {% include footer.html %}
    </div>
</div>